In [1]:
from kafka import KafkaConsumer
import json
from pyspark.sql import SparkSession
from array import array

# attention: the .config line is specific for the aida-n2

# Spark session & context
spark = (SparkSession
         .builder
         .appName('wiki-changes-event-consumer')
         # Add kafka package (so that spark can find kafka for streaming)
         .config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.2.1")
#          .config("spark.mongodb.input.uri", "mongodb://root:rootpassword@localhost:27017/data") 
#          .config("spark.mongodb.output.uri", "mongodb://root:rootpassword@localhost:27017/data") 
#          .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')
         .getOrCreate())
sc = spark.sparkContext

#mongodb://root:rootpassword@localhost:27017/data

:: loading settings :: url = jar:file:/Users/vasilii/apache-spark/spark-3.2.1-bin-hadoop3.2/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/vasilii/.ivy2/cache
The jars for the packages stored in: /Users/vasilii/.ivy2/jars
org.apache.spark#spark-sql-kafka-0-10_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-a7a93fee-0162-4d69-916c-28dcd443c9b2;1.0
	confs: [default]
	found org.apache.spark#spark-sql-kafka-0-10_2.12;3.2.1 in central
	found org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.2.1 in central
	found org.apache.kafka#kafka-clients;2.8.0 in central
	found org.lz4#lz4-java;1.7.1 in central
	found org.xerial.snappy#snappy-java;1.1.8.4 in central
	found org.slf4j#slf4j-api;1.7.30 in local-m2-cache
	found org.apache.hadoop#hadoop-client-runtime;3.3.1 in central
	found org.spark-project.spark#unused;1.0.0 in central
	found org.apache.hadoop#hadoop-client-api;3.3.1 in central
	found org.apache.htrace#htrace-core4;4.1.0-incubating in central
	found commons-logging#commons-logging;1.1.3 in central
	found com.google.code.findbugs#jsr305;3.0.0 in central
	found org.apache.commons#commons-pool2;2.6.2 in central
:: resolution report :: resolve 640ms :: artifacts dl 26ms
	:: modules in use:
	com.google.code.findbugs#jsr305;3.0.0 from central in [default]
	commons-logging#commons-logging;1.1.3 from central in [default]
	org.apache.commons#commons-pool2;2.6.2 from central in [default]
	org.apache.hadoop#hadoop-client-api;3.3.1 from central in [default]
	org.apache.hadoop#hadoop-client-runtime;3.3.1 from central in [default]
	org.apache.htrace#htrace-core4;4.1.0-incubating from central in [default]
	org.apache.kafka#kafka-clients;2.8.0 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.12;3.2.1 from central in [default]
	org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.2.1 from central in [default]
	org.lz4#lz4-java;1.7.1 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from local-m2-cache in [default]
	org.spark-project.spark#unused;1.0.0 from central in [default]
	org.xerial.snappy#snappy-java;1.1.8.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   13  |   0   |   0   |   0   ||   13  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-a7a93fee-0162-4d69-916c-28dcd443c9b2
	confs: [default]
	0 artifacts copied, 13 already retrieved (0kB/11ms)
22/06/29 00:30:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/29 00:30:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/06/29 00:30:26 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df = (spark
  .readStream
  .format("kafka")
  .option("kafka.bootstrap.servers", "localhost:29092") # kafka server
  .option("subscribe", "topic3") # topic
  .option("startingOffsets", "earliest") # start from beginning 
  .option("multiline", True)
  .load())
display(df)

DataFrame[key: binary, value: binary, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

In [3]:
from pyspark.sql.types import StringType

# Convert binary to string key and value
df1 = (df
    .withColumn("key", df["key"].cast(StringType()))
    .withColumn("value", df["value"].cast(StringType())))
display(df1)

DataFrame[key: string, value: string, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

In [4]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import StructType, ArrayType, StructField, BooleanType, LongType, IntegerType, DoubleType, DateType, TimestampType

# Event data schema
schema_wiki = StructType(
    [StructField("$schema",StringType(),True),
     StructField("prices",DoubleType(),True),
     StructField("address",StringType(),True),
     StructField("bed_bath_sqft",StringType(),True),
     StructField("links",StringType(),True),
     StructField("bed",IntegerType(),True),
     StructField("bath",IntegerType(),True),
     StructField("sqft",IntegerType(),True),        
    ]
     
      )

schema = ArrayType(schema_wiki, True)

# Create dataframe setting schema for event data
df_wiki = (df1
           # Sets schema for event data
           .withColumn("value", from_json("value", schema_wiki))
          )

In [5]:
display(df_wiki)

DataFrame[key: string, value: struct<$schema:string,prices:double,address:string,bed_bath_sqft:string,links:string,bed:int,bath:int,sqft:int>, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

In [6]:
query = (df_wiki
 .writeStream
 .format("memory")
 .queryName("wiki_changes2")
 .outputMode("update")
 .start())

22/06/29 00:31:05 WARN ResolveWriteToStream: Temporary checkpoint location created which is deleted normally when the query didn't fail: /private/var/folders/vr/48qd0dvd3zx5h01r32l1_5k40000gn/T/temporary-d9697a25-5c1d-4da4-9208-54655564a0d9. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.
22/06/29 00:31:05 WARN ResolveWriteToStream: spark.sql.adaptive.enabled is not supported in streaming DataFrames/Datasets and will be disabled.

In [7]:
# Check active streams
for s in spark.streams.active:
    print("ID:{} | NAME:{}".format(s.id, s.name))

ID:d596542c-1181-4327-9e73-5d3c68a41f08 | NAME:wiki_changes2

In [8]:
from time import sleep
from IPython.display import clear_output
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np 

matplotlib.rc('font', family='DejaVu Sans')
sns.set(style="whitegrid")

try:
    i=1
    while True:
        # Clear output
        clear_output(wait=True)               
        df2 = spark.sql("select * from wiki_changes2").toPandas()
        display(df2)
        
        df3 = spark.sql("""
                    select
                       value.prices,
                       value.address,
                       value.bed_bath_sqft,
                       value.links,
                       value.bed,
                       value.bath,
                       value.sqft
                    from
                        wiki_changes2
                    
                """)
        df3.show()

        
        sleep(10)
        i=i+1
except KeyboardInterrupt:
    print("process interrupted.")

,key,value,topic,partition,offset,timestamp,timestampType
0,11302 S Peoria St Chicago IL 60643,"(None, 230000.0, 11302 S Peoria St Chicago IL...",topic3,0,0,2022-06-28 23:33:24.713,0
1,3637 W 59th Pl Chicago IL 60629,"(None, 274900.0, 3637 W 59th Pl Chicago IL 60...",topic3,0,1,2022-06-28 23:33:24.713,0
2,7641 N Eastlake Ter APT 1D Chicago IL 60626,"(None, 219000.0, 7641 N Eastlake Ter APT 1D C...",topic3,0,2,2022-06-28 23:33:24.713,0
3,1132 W Lunt Ave APT 5B Chicago IL 60626,"(None, 108800.0, 1132 W Lunt Ave APT 5B Chica...",topic3,0,3,2022-06-28 23:33:24.713,0
4,54 E Scott St Chicago IL 60610,"(None, 9400000.0, 54 E Scott St Chicago IL 60...",topic3,0,4,2022-06-28 23:33:24.729,0
...,...,...,...,...,...,...,...
85,5605 N Ottawa Ave Chicago IL 60631,"(None, 549000.0, 5605 N Ottawa Ave Chicago IL...",topic3,0,85,2022-06-28 23:33:24.750,0
86,625 W Jackson Blvd APT 310 Chicago IL 60661,"(None, 265000.0, 625 W Jackson Blvd APT 310 C...",topic3,0,86,2022-06-28 23:33:24.751,0
87,5306 N Glenwood Ave #2A Chicago IL 60640,"(None, 345000.0, 5306 N Glenwood Ave #2A Chic...",topic3,0,87,2022-06-28 23:33:24.751,0
88,300 W Grand Ave APT 602 Chicago IL 60654,"(None, 435000.0, 300 W Grand Ave APT 602 Chic...",topic3,0,88,2022-06-28 23:33:24.752,0
89,1522 N Leamington Ave Chicago IL 60651,"(None, 534900.0, 1522 N Leamington Ave Chicag...",topic3,0,89,2022-06-28 23:33:24.752,0

+---------+--------------------+-------------+--------------------+----+----+----+
|   prices|             address|bed_bath_sqft|               links| bed|bath|sqft|
+---------+--------------------+-------------+--------------------+----+----+----+
| 230000.0| 11302 S Peoria S...|    4|2|2000 |11302 S Peoria St...|null|null|null|
| 274900.0| 3637 W 59th Pl C...|    2|1|1100 |3637 W 59th Pl Ch...|null|null|null|
| 219000.0| 7641 N Eastlake ...|    2|2|1250 |7641 N Eastlake T...|null|null|null|
| 108800.0| 1132 W Lunt Ave ...|    2|1|1054 |1132 W Lunt Ave A...|null|null|null|
|9400000.0| 54 E Scott St Ch...|    2|1|1054 |54 E Scott St Chi...|null|null|null|
| 285000.0| 3507 N Oak Park ...|     3|2|950 |3507 N Oak Park A...|null|null|null|
| 339900.0| 1473 N Larrabee ...|    2|2|1150 |1473 N Larrabee S...|null|null|null|
| 315000.0| 3240 N Sheffield...|    2|2|1150 |3240 N Sheffield ...|null|null|null|
| 279000.0| 2222 W Diversey ...|    2|2|1000 |2222 W Diversey A...|null|null|null|
| 369900.0| 5000 N Marine Dr...|    3|2|2000 |5000 N Marine Dr ...|null|null|null|
| 349000.0| 4327 N Hazel St ...|    3|2|2000 |4327 N Hazel St #...|null|null|null|
| 375000.0| 1255 N Sandburg ...|    2|2|1078 |1255 N Sandburg T...|null|null|null|
| 649900.0| 10456 S Bell Ave...|    4|4|2904 |10456 S Bell Ave ...|null|null|null|
| 675000.0| 100 E Bellevue P...|    4|4|2904 |100 E Bellevue Pl...|null|null|null|
| 250000.0| 3319 W 84th St C...|    4|2|1127 |3319 W 84th St Ch...|null|null|null|
| 319900.0| 5235 N Ravenswoo...|    2|1|1100 |5235 N Ravenswood...|null|null|null|
| 315000.0| 2136 W Jackson B...|    2|1|1100 |2136 W Jackson Bl...|null|null|null|
| 425000.0| 25 E Superior St...|    1|2|1200 |25 E Superior St ...|null|null|null|
|  85000.0| 556 N Leamington...|     3|1|735 |556 N Leamington ...|null|null|null|
| 324900.0| 225 N Columbus D...|     3|1|735 |225 N Columbus Dr...|null|null|null|
+---------+--------------------+-------------+--------------------+----+----+----+
only showing top 20 rows

process interrupted.

In [ ]:
df3.write.format("mongo").mode("append").save()

In [ ]:
df3.write.parquet("data.parquet")

In [9]:
import pandas as pd
pandas_df= pd.read_parquet('data.parquet', engine='fastparquet')

In [ ]:
!pip install fastparquet

In [60]:
pandas_df.shape

(90, 7)

22/06/29 02:57:13 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:14 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:14 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:14 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:15 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:16 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:17 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:18 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:19 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:20 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.
22/06/29 02:57:21 WARN NetworkClient: [Consumer clientId=consumer-spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0-1, groupId=spark-kafka-source-21125a5a-5156-4696-acfd-36417e038c4f-1160026178-driver-0] Connection to node 1 (localhost/127.0.0.1:29092) could not be established. Broker may not be available.

In [12]:
spark_df = spark.createDataFrame(pandas_df)

In [14]:
spark_df.show()

+---------+--------------------+-------------+--------------------+---+----+----+
|   prices|             address|bed_bath_sqft|               links|bed|bath|sqft|
+---------+--------------------+-------------+--------------------+---+----+----+
| 230000.0| 11302 S Peoria S...|    4|2|2000 |11302 S Peoria St...|NaN| NaN| NaN|
| 274900.0| 3637 W 59th Pl C...|    2|1|1100 |3637 W 59th Pl Ch...|NaN| NaN| NaN|
| 219000.0| 7641 N Eastlake ...|    2|2|1250 |7641 N Eastlake T...|NaN| NaN| NaN|
| 108800.0| 1132 W Lunt Ave ...|    2|1|1054 |1132 W Lunt Ave A...|NaN| NaN| NaN|
|9400000.0| 54 E Scott St Ch...|    2|1|1054 |54 E Scott St Chi...|NaN| NaN| NaN|
| 285000.0| 3507 N Oak Park ...|     3|2|950 |3507 N Oak Park A...|NaN| NaN| NaN|
| 339900.0| 1473 N Larrabee ...|    2|2|1150 |1473 N Larrabee S...|NaN| NaN| NaN|
| 315000.0| 3240 N Sheffield...|    2|2|1150 |3240 N Sheffield ...|NaN| NaN| NaN|
| 279000.0| 2222 W Diversey ...|    2|2|1000 |2222 W Diversey A...|NaN| NaN| NaN|
| 369900.0| 5000 N Marine Dr...|    3|2|2000 |5000 N Marine Dr ...|NaN| NaN| NaN|
| 349000.0| 4327 N Hazel St ...|    3|2|2000 |4327 N Hazel St #...|NaN| NaN| NaN|
| 375000.0| 1255 N Sandburg ...|    2|2|1078 |1255 N Sandburg T...|NaN| NaN| NaN|
| 649900.0| 10456 S Bell Ave...|    4|4|2904 |10456 S Bell Ave ...|NaN| NaN| NaN|
| 675000.0| 100 E Bellevue P...|    4|4|2904 |100 E Bellevue Pl...|NaN| NaN| NaN|
| 250000.0| 3319 W 84th St C...|    4|2|1127 |3319 W 84th St Ch...|NaN| NaN| NaN|
| 319900.0| 5235 N Ravenswoo...|    2|1|1100 |5235 N Ravenswood...|NaN| NaN| NaN|
| 315000.0| 2136 W Jackson B...|    2|1|1100 |2136 W Jackson Bl...|NaN| NaN| NaN|
| 425000.0| 25 E Superior St...|    1|2|1200 |25 E Superior St ...|NaN| NaN| NaN|
|  85000.0| 556 N Leamington...|     3|1|735 |556 N Leamington ...|NaN| NaN| NaN|
| 324900.0| 225 N Columbus D...|     3|1|735 |225 N Columbus Dr...|NaN| NaN| NaN|
+---------+--------------------+-------------+--------------------+---+----+----+
only showing top 20 rows

In [58]:
import pyspark.sql.functions as F

split_col = F.split(spark_df['bed_bath_sqft'], '//|')

spark_df1 = spark_df.withColumn('bed', split_col.getItem(1))
spark_df1 = spark_df.withColumn('bath', split_col.getItem(3))
spark_df1 = spark_df.withColumn('sqft', split_col.getItem(5))

# spark_df1 = spark_df.withColumn('bed', F.split(spark_df['bed_bath_sqft'], '|').getItem(1)) \
#        .withColumn('bath', F.split(spark_df['bed_bath_sqft'], '|').getItem(3)) \
#        .withColumn('sqft', F.split(spark_df['bed_bath_sqft'], '|').getItem(5)) 
       
spark_df1.show()

+---------+--------------------+-------------+--------------------+---+----+----+
|   prices|             address|bed_bath_sqft|               links|bed|bath|sqft|
+---------+--------------------+-------------+--------------------+---+----+----+
| 230000.0| 11302 S Peoria S...|    4|2|2000 |11302 S Peoria St...|NaN| NaN|   2|
| 274900.0| 3637 W 59th Pl C...|    2|1|1100 |3637 W 59th Pl Ch...|NaN| NaN|   1|
| 219000.0| 7641 N Eastlake ...|    2|2|1250 |7641 N Eastlake T...|NaN| NaN|   1|
| 108800.0| 1132 W Lunt Ave ...|    2|1|1054 |1132 W Lunt Ave A...|NaN| NaN|   1|
|9400000.0| 54 E Scott St Ch...|    2|1|1054 |54 E Scott St Chi...|NaN| NaN|   1|
| 285000.0| 3507 N Oak Park ...|     3|2|950 |3507 N Oak Park A...|NaN| NaN|   9|
| 339900.0| 1473 N Larrabee ...|    2|2|1150 |1473 N Larrabee S...|NaN| NaN|   1|
| 315000.0| 3240 N Sheffield...|    2|2|1150 |3240 N Sheffield ...|NaN| NaN|   1|
| 279000.0| 2222 W Diversey ...|    2|2|1000 |2222 W Diversey A...|NaN| NaN|   1|
| 369900.0| 5000 N Marine Dr...|    3|2|2000 |5000 N Marine Dr ...|NaN| NaN|   2|
| 349000.0| 4327 N Hazel St ...|    3|2|2000 |4327 N Hazel St #...|NaN| NaN|   2|
| 375000.0| 1255 N Sandburg ...|    2|2|1078 |1255 N Sandburg T...|NaN| NaN|   1|
| 649900.0| 10456 S Bell Ave...|    4|4|2904 |10456 S Bell Ave ...|NaN| NaN|   2|
| 675000.0| 100 E Bellevue P...|    4|4|2904 |100 E Bellevue Pl...|NaN| NaN|   2|
| 250000.0| 3319 W 84th St C...|    4|2|1127 |3319 W 84th St Ch...|NaN| NaN|   1|
| 319900.0| 5235 N Ravenswoo...|    2|1|1100 |5235 N Ravenswood...|NaN| NaN|   1|
| 315000.0| 2136 W Jackson B...|    2|1|1100 |2136 W Jackson Bl...|NaN| NaN|   1|
| 425000.0| 25 E Superior St...|    1|2|1200 |25 E Superior St ...|NaN| NaN|   1|
|  85000.0| 556 N Leamington...|     3|1|735 |556 N Leamington ...|NaN| NaN|   7|
| 324900.0| 225 N Columbus D...|     3|1|735 |225 N Columbus Dr...|NaN| NaN|   7|
+---------+--------------------+-------------+--------------------+---+----+----+
only showing top 20 rows